.btnarraowup {
    position: fixed;
    bottom: 20px;
    right: 20px;
   min-width: 30px;
    z-index: 999;
    background-color: #ff385c;
    padding: 12px 6px;
    border: none;
    border-radius: 5px;
  }
  
  .btnarraowup:hover {
    background-color: #f00 !important;
    }
  .btnarraowup:active {
    background-color: #f00 !important;
  }