.home {
    background-color: #0f5270 !important;
    overflow: hidden !important;
    padding-top: 100px !important;
    max-width: 100% !important;
    max-height: 700px !important;
    padding: 3rem !important;

}

.title {
    font-family: "Poppins", sans-serif !important;
    color: #fff !important;
    margin-top: 0 !important;
    font-weight: 500 !important;
    line-height: 1.2 !important;
    margin-bottom: 2.5rem !important; 
}

.heroimg {
    padding-bottom: 5rem !important;
}

@media screen and (max-width: 600px) {
    .heroimg {
        padding-bottom: 15rem !important;
    }
}
@media screen and (max-width: 420px) {
    .heroimg {
        padding-bottom: 20rem !important; 
    }

}